name: Build

on:
  push:
    branches: [ main, master ]
    tags-ignore: [ "*" ]
  pull_request:
    branches: [ "**" ]
  release:
    types: [ published ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build --stacktrace

      - name: Upload artifacts (release only)
        if: github.event_name == 'release'
        uses: actions/upload-artifact@v4
        with:
          name: jars
          path: build/libs/*.jar
